.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.subcommands{
    grid-column: 1;
}
.options{
    grid-column: 2;
}

.execute-command-area{
    width: 100%;
    overflow-x: scroll;
}